<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>
    <!-- This is the database whre will be created from the assembly model with POCO class -->
    <add name="DBSource"
         providerName="Npgsql"
         connectionString="Server=localhost;Database=northwind_mini;User Id=postgres;Password=passw0rd;Pooling=false;"/>
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="PostgreSQL Data Provider"
           invariant="Npgsql"
           support="FF"
           description=".Net Framework Data Provider for Postgresql Server"
           type="Npgsql.NpgsqlFactory, Npgsql, Version=2.2.5.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>

</configuration>