<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="C:\Temp\SchemaDB\log\DTL-DataTestLoader.log" />
        <add name="consoleListener"
             type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <connectionStrings>

    <!-- This is the source database from which will be extracted the schema -->
    <add name="DBSource"
         providerName="Npgsql Local"
         connectionString="Server=localhost;Database=northwind;User Id=postgres;Password=passw0rd;Pooling=false;"/>

    <!-- This is the test database -->
    <add name="DBTest"
         providerName="Npgsql Local"
         connectionString="Server=127.0.0.1;Database=northwind_test;User Id=postgres;Password=passw0rd;Pooling=false;"/>

    <!-- This is the main postgres database needed for the drop of test database -->
    <add name="DBPostgres"
         providerName="Npgsql Local"
         connectionString="Server=127.0.0.1;Database=postgres;User Id=postgres;Password=passw0rd;Pooling=false;"/>

  </connectionStrings>

  <appSettings>

    <!-- The test db will be defined using this file if the refresh schema it was requested. -->
    <add key="FileSchema"
         value="TRR-PSQL94-DEV.TOPTIERRA.IT-tsshield-20150708-141724.sql" />

    <!-- This folder will contain .sql schema files of source db if the refresh schema it was requested -->
    <!-- Optionally, the 'FileSchema' file must be located here -->
    <add key="FolderSchema"
         value="C:\Temp\SchemaDB" />

    <!-- Assembly Model name where are defined the POCO classes -->
    <add key="AssemblyModel"
         value="SampleModel" />

    <!-- Namespace of POCO classes -->
    <add key="AssemblyModelNamespace"
         value="SampleModel" />

  </appSettings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql Local" />
      <add name="PostgreSQL Data Provider"
           invariant="Npgsql Local"
           support="FF"
           description=".Net Framework Data Provider for Postgresql Server"
           type="Npgsql.NpgsqlFactory, Npgsql, Version=2.2.5.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>

</configuration>