<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="C:\Temp\DataTestLoader\log\DTL-DataTestLoader.log" />
        <add name="consoleListener"
             type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <connectionStrings>

    <!-- This is the source database where will be extracted the schema from-->
    <add name="DBSource"
         providerName="Npgsql Local"
         connectionString="Server=localhost;Database=northwind;User Id=postgres;Password=passw0rd;Pooling=false;"/>

    <!-- This is the test database -->
    <add name="DBTest"
         providerName="Npgsql Local"
         connectionString="Server=127.0.0.1;Database=northwind_test;User Id=postgres;Password=passw0rd;Pooling=false;"/>

    <!-- This is the main postgres database needed for the drop of test database -->
    <add name="DBPostgres"
         providerName="Npgsql Local"
         connectionString="Server=127.0.0.1;Database=postgres;User Id=postgres;Password=passw0rd;Pooling=false;"/>

  </connectionStrings>

  <appSettings>

    <!-- The test db will be defined using these two files when the refresh schema will be required. -->
    <add key="FileSchemaPreData"
         value="MYSERVER-northwind-PRE-DATA-20150812-164744.sql" />

    <add key="FileSchemaPostData"
         value="MYSERVER-northwind-POSTDATA-20150812-164744.sql" />

    <!-- This folder will contain the .sql schema files of source db when the refresh schema will be required -->
    <add key="FolderSchema"
         value="DatabaseScripts" />

    <!-- Assembly Model name where are defined the POCO classes -->
    <add key="AssemblyModel"
         value="SampleModel" />

    <!-- Namespace of POCO classes -->
    <add key="AssemblyModelNamespace"
         value="NorthwindMini.Model" />

  </appSettings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql Local" />
      <add name="PostgreSQL Data Provider"
           invariant="Npgsql Local"
           support="FF"
           description=".Net Framework Data Provider for Postgresql Server"
           type="Npgsql.NpgsqlFactory, Npgsql, Version=2.2.5.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>

</configuration>